.idea/
.vagrant/
nosetests.xml
*.pyc
captools/fips6.zip
captools/output.xml
reports/coverage.xml
reports/junit.xml
reports/pylint.report
.coverage
coverage.xml
/static/admin/
/static/gis/
/static/


.elasticbeanstalk/

htmlcov/
