.idea/
.vagrant/
nosetests.xml
*.pyc
.venv/
.venv27/
.venv38/
captools/fips6.zip
captools/output.xml
reports/coverage.xml
reports/junit.xml
reports/pylint.report
.coverage
coverage.xml
/static/admin/
/static/gis/
/static/
.DS_Store
.elasticbeanstalk/
htmlcov/
docker-compose.override.yml
jmeter.log
local
settings.json
.env
