Django==1.11.28
six>=1.14.0
WebTest==2.0.33
python-dateutil==2.8.1
pep8==1.7.1
coverage==5.1
dj-database-url
djangorestframework-gis==0.14
djangorestframework==3.9.1
coreapi
markdown
django-bootstrap-form==3.4
django-filter==0.7
django-allauth==0.40.0
requests
simplejson
django_nose
GPolyEncode
honcho==1.0.1
kombu==4.6.8
boto==2.49.0
billiard==3.3.0.18
pytz==2019.3
sqlparse==0.3.0
statsd==3.3.0
django-uuidfield==0.5.0
django-anymail[mailgun]
capparselib==0.6.3
dj-static==0.0.6
django-debug-toolbar==1.8
pygments
newrelic
sentry-sdk==0.14.3
logzio-python-handler
ddtrace
gunicorn
psycopg2-binary