Django==3.1.5
six>=1.14.0
WebTest==2.0.35
python-dateutil==2.8.1
pep8==1.7.1
coverage==5.3
dj-database-url>=0.5.0
djangorestframework-gis==0.16
djangorestframework==3.12.2
coreapi
markdown
django-bootstrap-form==3.4
django-filter==2.4.0
django-allauth==0.43.0
requests
simplejson
django_nose
GPolyEncode
honcho==1.0.1
kombu==5.0.2
boto==2.49.0
billiard==3.6.3.0
pytz==2020.4
sqlparse==0.4.1
statsd==3.3.0
django-uuidfield==0.5.0
django-anymail[mailgun]
capparselib==0.6.3
dj-static==0.0.6
django-debug-toolbar==3.1.1
pygments
newrelic
sentry-sdk==0.19.4
logzio-python-handler
ddtrace
gunicorn
psycopg2-binary
