<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/ico/favicon.ico">

        <title>{% block base-title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
       <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block head %}{% endblock %}
    </head>

    <body {% block bodytag %}{% endblock %} ng-cloak="">

        <div class="container header-container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">


                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">
                          <span><img src="/static/img/rect5312-5.png" alt="Home" /></span>
                      </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">

                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                          {% if user.is_authenticated %}
                            <li><a href="/dashboard/locations/">Locations</a></li>
                            <li><a href="/dashboard/settings/">Settings</a></li>
                            <li><a href="/dashboard/past-alerts/">Past Alerts</a></li>
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                          {% else %}
                            <li><a href="{% url 'account_signup' %}">Register</a></li>
                            <li><a href="{% url 'account_login' %}">Login</a></li>
                          {% endif %}
                      </ul>
                    </div><!-- /.navbar-collapse -->

            </nav>
            </div>

        </div>
    </div>
        {% block base-content %}{% endblock %}

        {% block js %}{% endblock %}

    </body>
</html>
